@{
    ViewBag.Title = "MEIEST";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tere kallis külastaja! Siin te leiate rohkem infot meiest..</p>
<style>
    body {
        background-color: #1a1a1a;
        color: #fff;
        font-family: 'YourDesiredFont', sans-serif;
        text-align: center;
        font-size: 30px;
        margin: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }


    h1 {
        color: #ff9900;
    }


    .navbar {
        background-color: #333;
        color: #fff;
    }


    a {
        color: #ff9900;
    }

        a:hover {
            color: #fff;
        }


    .btn {
        background-color: #ff9900;
        color: #fff;
        
    }

        .btn:hover {
            background-color: #333;
        }
</style>
