@{
    ViewBag.Title = "KUTSE";
}



<div class="row">
    <div class="kuts">
        <h2>KUTSE</h2>
        <p>
            <br />Kallid sõbrad,<br />
            <br />Ootame teid rõõmuga ainulaadsele ja meeldejäävale sündmusele, mis saab olema täidetud soojust, rõõmu ja lõbu!<br />
            <br />Kuupäev: [22.04.2024]<br />
            <br />Aeg: [21.00] <br />
            <br />Koht: [Peterburi tee 47]<br />
            <br />Liituge meiega sel erilisel päeval, et jagada naeru, rõõmu ja sõprust. Meid ootavad kaasahaaravad meelelahutused, <br />
            <br />suurepärane õhkkond ja meeldivad üllatused.<br />
            <br />Loo meiega mälestusi, mis püsivad kaua meie südames. <br />
            <br />Valmistuge pidustuseks, mis on täis võlu!<br />
            <br />Ootame teid juba suure põnevusega!<br />
            <br />Armastuse ja rõõmuga,<br />
            <br />SEMATARY <br />
        </p>

    </div>

</div>
<div style="text-align: center; position: relative;">
    <p>@ViewBag.Message</p>
    <img src="~/cat.png" style="position: absolute; top: -500px; left: 70%;" />
</div>


<style>
    body {
        background-color: #1a1a1a;
        color: #fff;
        font-family: 'YourDesiredFont', sans-serif;
        text-align: center;
        font-size: 30px;
        margin: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .jumbotron {
        background-color: rgba(0, 0, 0, 0)
    }


    h1 {
        color: #ff9900;
        text-align: center;
    }


    .navbar {
        background-color: #333;
        color: #fff;
        text-align: center;
    }


    a {
        color: #ff9900;
        text-align: center;
    }

        a:hover {
            color: #fff;
            text-align: center;
        }


    .btn {
        background-color: #ff9900;
        text-align: center;
        color: #fff;
        
    }

        .btn:hover {
            background-color: #333;
            text-align: center;
        }
</style>
