
@model PIDU2.Models.Guest
@{
    ViewBag.Title = "Thanks";
}
<div>
    <p> Tänan sind, @Model.Name</p>
</div>
<div>
    @if (Model.WillAttend == true)
    {
        @:Ootame sind kallis sõber!
        <p>

            <img src="~/rott2.png" />
        </p>
    }
    else
    {
        @:Väga kurb uudis. Näeme sind hiljem!
        <p>
            <img src="~/rott.png" />
        </p>
    }
    @ViewBag.Message @*ViewBag.Message - отчет об отправке письма с приглашением *@
</div>


<style>
    body {
        background-color: #1a1a1a;
        color: #fff;
        font-family: 'YourDesiredFont', sans-serif;
        text-align: center;
        font-size: 30px;
        margin: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }


    h1 {
        color: #ff9900;
    }


    .navbar {
        background-color: #333;
        color: #fff;
    }


    a {
        color: #ff9900;
    }

        a:hover {
            color: #fff;
        }


    .btn {
        background-color: #ff9900;
        color: #fff;
    }

        .btn:hover {
            background-color: #333;
        }
</style>






